DATABASE_URL="postgresql://neondb_owner:npg_1UmSRtXBvFx4@ep-plain-night-aprzn8ak-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=3001
NODE_ENV=development

# PNCP API
PNCP_API_URL=https://treina.pncp.gov.br/api/pncp
PNCP_LOGIN=
PNCP_SENHA=
